{% extends 'index.html' %}
{% block header %}
  <h1>{% block title %}Connect 4{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="square">
  <div class="column" id="a" onmouseover="chbg('0')" onmouseout="out('0')" onclick = "placeToken('0')">
    <div class="circle" id="5"></div>
    <div class="circle" id="4"></div>
    <div class="circle" id="3"></div>
    <div class="circle" id="2"></div>
    <div class="circle" id="1"></div>
    <div class="circle" id="0"></div>
  </div>
  <div class="column" id="b" onmouseover="chbg('1')" onmouseout="out('1')" onclick = "placeToken('1')">
    <div class="circle" id="11"></div>
    <div class="circle" id="10"></div>
    <div class="circle" id="9"></div>
    <div class="circle" id="8"></div>
    <div class="circle" id="7"></div>
    <div class="circle" id="6"></div>
  </div>
  <div class="column" id="c" onmouseover="chbg('2')" onmouseout="out('2')" onclick = "placeToken('2')">
    <div class="circle" id="17"></div>
    <div class="circle" id="16"></div>
    <div class="circle" id="15"></div>
    <div class="circle" id="14"></div>
    <div class="circle" id="13"></div>
    <div class="circle" id="12"></div>
  </div>
  <div class="column" id="d" onmouseover="chbg('3')" onmouseout="out('3')" onclick = "placeToken('3')">
    <div class="circle" id="23"></div>
    <div class="circle" id="22"></div>
    <div class="circle" id="21"></div>
    <div class="circle" id="20"></div>
    <div class="circle" id="19"></div>
    <div class="circle" id="18"></div>
  </div>
  <div class="column" od="e" onmouseover="chbg('4')" onmouseout="out('4')" onclick = "placeToken('4')">
    <div class="circle" id="29"></div>
    <div class="circle" id="28"></div>
    <div class="circle" id="27"></div>
    <div class="circle" id="26"></div>
    <div class="circle" id="25"></div>
    <div class="circle" id="24"></div>
  </div>
  <div class="column" id="f" onmouseover="chbg('5')" onmouseout="out('5')" onclick = "placeToken('5')">
    <div class="circle" id="35"></div>
    <div class="circle" id="34"></div>
    <div class="circle" id="33"></div>
    <div class="circle" id="32"></div>
    <div class="circle" id="31"></div>
    <div class="circle" id="30"></div>
  </div>
  <div class="column" id="g" onmouseover="chbg('6')" onmouseout="out('6')" onclick = "placeToken('6')">
    <div class="circle" id="41"></div>
    <div class="circle" id="40"></div>
    <div class="circle" id="39"></div>
    <div class="circle" id="38"></div>
    <div class="circle" id="37"></div>
    <div class="circle" id="36"></div>
  </div>
</div>
<script src="/static/js/script.js"></script>
{% endblock %}