  body{
    background-color: turquoise;
    text-align: center;
    margin: 2%;
  }
  #Title{
    color: Red;
    text-align: center;
  }

  #TOC{
    text-align: center;
    background-color: white;
  }

  a{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }

  #Game{
    background-color: white;
    width: 100%;
    height: 750px;
    margin-top: 10px;
    text-align: center;
  }
  .circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;

  }

  .square {
    height: 390px;
    width: 450px;
    background-color: blue;
    position: relative;
    text-align: center;
    margin: auto;
  }

  .column {
    display: inline-block
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
  }
  .grid-item {
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 50px;
    min-width: 80%;
  }

  #TTTOrder{
    color: white;
    background-color: black;
    font-size: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  #resetTTTGame{
    margin: 10px;
  }